astroid==3.3.8
baseline_models @ git+https://git@github.com/ALLAN-DIP/baseline-models.git@9a2f52a65abf2e461035cb5b5a721fca851eeb1e
bcrypt==4.2.1
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
coloredlogs==15.0.1
daidepp @ git+https://git@github.com/SHADE-AI/daidepp.git@f84f7279fb4a31083ad8e4b5fcf6d1ed290bae0e
dill==0.3.9
diplomacy @ git+https://git@github.com/ALLAN-DIP/diplomacy.git@f600344158c85fb933b6c1d0fff61e80bd529648
distlib==0.3.9
filelock==3.17.0
humanfriendly==10.0
identify==2.6.6
idna==3.10
iniconfig==2.0.0
isort==6.0.0
joblib==1.4.2
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==1.26.4
packaging==24.2
parsimonious==0.9.0
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
pylint==3.3.4
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
scikit-learn==1.4.1.post1
scipy==1.15.1
setuptools==75.8.0
six==1.17.0
threadpoolctl==3.5.0
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.12.2
ujson==5.10.0
urllib3==2.3.0
virtualenv==20.29.1
